*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(24, 23, 23);
    flex-direction: column;
   
}
.js img {
    border-radius: 7px;
    transition: all 2s ease-in-out;
}
.hiden{
    display: none;
}
#form{
    position: relative;
    display: flex;
    justify-content: space-between;
}
#int{
    padding: 1.1rem;
    font-size: 1rem;
    min-width: 100%;
    text-align: center;
    border-radius: 7px;

}
#reset{
    position: absolute;
    right:-10px;
    transform:rotate(90deg);
    top: 18px;
    font-size: 1.1rem;
   background: tomato;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    padding: 0px 2px;
    transition: all .7s ease-in-out;
    
}
#reset:hover{
    transform: scale(2,2);
}
.logo{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 25px;
    height: 25px;
    border-top: 12.5px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 3px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    transition: all 2.5s ease-in-out;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}

.line{
    border-bottom: 5px solid #ffd60a;
    animation: line 4s infinite linear;
    animation-iteration-count: 4.9;
    margin-top: 1rem;
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

@keyframes line{
 0%{width: 0%;opacity: 1;}
 100%{width:40%;opacity: 0.4;}
}