*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containre{
     display: flex;
     align-items: center;
     flex-direction: column;
     padding-top: 3rem;
     height: 100vh;
     background: rgb(0, 0, 0);
}
.hiden{
    display: none;
}
#form{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* box-shadow: 1px 2px 15px 1px #ffd60a; */
}
#int{
    padding: 1.1rem;
    font-size: 1rem;
    min-width: 100%;
    text-align: center;
    border-radius: 7px;
     box-shadow: 0px 0px 10px 4px #ffd60a;
     border: none;
}
#reset{
    position: absolute;
    right:-10px;
    transform:rotate(90deg);
    top: 18px;
    font-size: 1.1rem;
    background: tomato;
    outline: none;
    border: none;
    border-radius: 7px;
    color: #fff;
    cursor: pointer;
    padding: 0px 2px;
    transition: all .7s ease-in-out;
}
#reset:hover{
    transform: scale(2,2);
}
.logo{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;

}
.circle{
    width: 25px;
    height: 25px;
    border-top: 12.5px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 3px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    text-align: center;
    transition: all 2.5s ease-in-out;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}

.line{
    border-bottom: 5px solid #ffd60a;
    animation: line 4s infinite linear;
    animation-iteration-count: 4.9;
    margin-top: 1rem;
    position: relative;
}

.box{
 position: absolute;
 top:50%;
 left: 50%;
 background: rgb(15, 15, 10);
 width: 200px;
 height: 200px;
transform: translate(-50%,-50%);
border-radius: 5%;
background: transparent;
border: 0.5px solid rgb(58, 58, 48);
animation: opc 15s linear infinite;
animation-iteration-count:1;
}

.box::after{
    content: '';
    position: absolute;
    width:8px;
    height: 8px;
    background: #ffd60a;
    box-shadow: 3px 2px 15px 1px #ffd60a;
    border-radius: 50%;
    top:-6px;
    left: -0px;
    animation: anim 8s linear infinite;
    animation-iteration-count:3;
}
.lines {
    width: 200px;
    height: 200px;
    background: #ffd60a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation:  opc 8s linear infinite;
    animation-iteration-count:1;
    border-radius: 7px;
}
.lines::after{
    content: 'JS';
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 5rem;
    font-weight: 900;
}


.lines{
    background: #ffd60a;
}
@keyframes anim{
  25%{
     transform: translateX(195px) ;
     }
    50%{
     transform:  translateX(195px) translateY(201px);
    }
   75%{
        transform:  translateX(-5px) translateY(200px);
    }
   
}

@keyframes opc{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
   75%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

@keyframes line{
 0%{width: 0%;opacity: 1;}
 100%{width:40%;opacity: 0.4;}
}